::selection {
    color: #ffffff;
    background-color: #338fff;
}

::-moz-selection {
    color: #ffffff;
    background-color: #338fff;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: raleway;
    color: #5289F7;
}

.reveal {
    font-family: lato;
}
